{{ define "dashboard" }}
{{ template "base" . }}
{{ template "header" }}

{{ $activeTab := index . "activeTab" }}

{{ $activeTabClasses := " text-gray-900 bg-gray-100 font-semibold " }}
{{ $activeTabIconClasses := " text-gray-500 " }}
{{ $inactiveTabClasses := " text-gray-600 hover:text-gray-900 hover:bg-gray-50 "}}
{{ $inactiveTabIconClasses := " text-gray-400 group-hover:text-gray-500 " }}

<section class="container-body pt-0 md:pt-6 grid grid-cols-1 md:grid-cols-4 space-y-4 md:space-x-6 md:space-y-0">
	<nav class="col-span-1 space-y-1">
		<a href={{ link "a/dashboard" }} class="group flex items-center px-3 py-2 text-sm font-medium rounded-md {{ if eq $activeTab "dashboard" }}{{ $activeTabClasses }}{{ else }}{{ $inactiveTabClasses }}{{ end }}">
			<svg class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 {{ if eq $activeTab "dashboard" }}{{ $activeTabIconClasses }}{{ else }}{{ $inactiveTabIconClasses }}{{ end }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
			<span class="truncate">
				Tableau de bord
			</span>
		</a>
		<a href={{ link "a/dashboard/posts"}} class="group flex items-center px-3 py-2 text-sm font-medium rounded-md {{ if eq $activeTab "posts" }}{{ $activeTabClasses }}{{ else }}{{ $inactiveTabClasses }}{{ end }}">
			<svg class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 {{ if eq $activeTab "posts" }}{{ $activeTabIconClasses }}{{ else }}{{ $inactiveTabIconClasses }}{{ end }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
				  </svg>
			<span class="truncate">
				Mes articles
			</span>
			<span class="ml-auto inline-block py-0.5 px-3 text-xs rounded-full bg-yellow-100 text-yellow-700 group-hover:bg-yellow-200 group-hover:text-yellow-800">
				19
			</span>
		</a>
		<a href={{ link "a/dashboard/profile" }} class="group flex items-center px-3 py-2 text-sm font-medium rounded-md {{ if eq $activeTab "profile" }}{{ $activeTabClasses }}{{ else }}{{ $inactiveTabClasses }}{{ end }}">
			<svg class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 {{ if eq $activeTab "profile" }}{{ $activeTabIconClasses }}{{ else }}{{ $inactiveTabIconClasses }}{{ end }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
			</svg>
			<span class="truncate">
				Mon profil
			</span>
		</a>
	</nav>
	<div class="col-span-3">
{{ end }}
