{{ template "dashboard" . }}

{{ with (index . "banner") }}
<div class="-mx-6 md:mx-0 mb-4">
	{{ template "banner" . }}
</div>
{{ end }}

{{ with (index . "user") }}
<form class="mb-12 space-y-8 divide-y divide-gray-200" enctype="multipart/form-data" action={{ link "a/dashboard/profile" }} method="POST">
	<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
		<div>
			<div>
				<h3 class="text-lg leading-6 font-semibold text-gray-900">
					Mon profil
				</h3>
				<p class="mt-1 max-w-2xl text-sm text-gray-500">
					Ces informations seront affichées publiquement sur les articles que vous publiez.
				</p>
			</div>

			<div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
					<label for="username" class="block text-sm font-semibold text-gray-700 sm:mt-px sm:pt-2">
						Nom d'utilisateur
					</label>
					<div class="mt-1 sm:mt-0 sm:col-span-2">
						<div class="block px-3 py-2 bg-gray-50 text-gray-500 max-w-lg w-full shadow-sm sm:max-w-xs sm:text-sm border border-gray-300 rounded-md">
							{{ .Username }}
						</div>
					</div>
				</div>

				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
					<label for="full_name" class="block text-sm font-semibold text-gray-700 sm:mt-px sm:pt-2">
						Nom affiché
					</label>
					<div class="mt-1 sm:mt-0 sm:col-span-2">
						<input type="text" value="{{ .FullName }}" name="full_name" id="full_name" autocomplete="full-name" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
					</div>
				</div>

				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
					<label for="meta_desc" class="block text-sm font-semibold text-gray-700 sm:mt-px sm:pt-2">
						Meta description
						<div class="text-gray-400 font-normal">
							Essayez de ne pas dépasser 2-3 mots
						</div>
					</label>
					<div class="mt-1 sm:mt-0 sm:col-span-2">
						<input type="text" value="{{ .Meta }}" name="meta_desc" id="meta_desc" autocomplete="meta-desc" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
					</div>
				</div>

				<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
					<label for="avatar" class="block text-sm font-semibold text-gray-700">
						Avatar
						<div class="text-gray-400 font-normal">
							Taille maximale autorisée 500 Ko
						</div>
					</label>
					<div class="mt-2 sm:mt-0 sm:col-span-2">
						<div class="flex items-center space-x-4">
							<img class="h-12 w-12 rounded-full overflow-hidden bg-gray-100" src={{ if .Avatar }}{{ .Avatar }}{{ else }}{{ link "static/images/default_avatar.svg" }}{{ end }} alt="Avatar">
							<label for="avatar" class="cursor-pointer inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none">
								<span>Modifier</span>
								<input id="avatar" name="avatar" type="file" accept=".png,.jpg,.jpeg, image/png,image/jpeg" class="sr-only">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-row py-4">
		<button type="submit" class="w-full sm:w-auto sm:ml-auto text-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-semibold text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
			Sauvegarder
		</button>
	</div>
</form>
{{ end }}

</div>
</section>
