@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container-body {
		@apply lg:mx-auto lg:max-w-7xl p-6 lg:p-8;
	}

	.container-body-sm {
		@apply md:mx-auto md:max-w-xl p-4 lg:p-8;
	}

	.markdown-body * { @apply text-gray-800; }

	.markdown-body p { @apply mb-4; }

	.markdown-body a, .markdown-body a * { @apply text-blue-600 hover:underline; }

	.markdown-body b, .markdown-body b *,
	.markdown-body strong, .markdown-body strong * {
		@apply font-semibold;
	}

	.markdown-body h1,
	.markdown-body h2,
	.markdown-body h3,
	.markdown-body h4,
	.markdown-body h5,
	.markdown-body h6 {
		@apply font-semibold mt-6 mb-4;
	}

	.markdown-body h1 { @apply font-serif text-3xl pb-2 border-b; }
	.markdown-body h2 { @apply font-serif text-2xl pb-2 border-b; }
	.markdown-body h3 { @apply font-serif text-xl; }
	.markdown-body h4 { @apply font-sans text-lg; }
	.markdown-body h5 { @apply font-sans mt-4 mb-2; }
	.markdown-body h6 { @apply font-sans mt-4 mb-2 text-gray-600; }

	.markdown-body ul { @apply pl-8 list-outside list-disc; }
	.markdown-body ol { @apply pl-8 list-outside list-decimal; }
	
	.markdown-body code:not([class*="language-"]) { @apply px-1 text-sm rounded border bg-gray-100; }
	.markdown-body pre { @apply p-4 my-4 text-sm rounded-md border bg-gray-50 overflow-x-auto; }

	.markdown-body blockquote { @apply my-6 py-4 border-l-2 text-center italic font-serif text-gray-500; }
	.markdown-body blockquote * { @apply mb-1 text-gray-500; }

	.markdown-body hr { @apply my-8 lg:-mx-4 h-1 bg-gray-100 border-none; }
	.markdown-body *[id*="fn"] { @apply text-sm; }
}

@tailwind utilities;


.markdown-code-err { color: #a61717; background-color: #e3d2d2; }
.markdown-code-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.markdown-code-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
.markdown-code-hl { display: block; width: 100%;background-color: #e5e5e5; }
.markdown-code-lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f; }
.markdown-code-ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f; }
.markdown-code-k { color: #000000; font-weight: bold; }
.markdown-code-kc { color: #000000; font-weight: bold; }
.markdown-code-kd { color: #000000; font-weight: bold; }
.markdown-code-kn { color: #000000; font-weight: bold; }
.markdown-code-kp { color: #000000; font-weight: bold; }
.markdown-code-kr { color: #000000; font-weight: bold; }
.markdown-code-kt { color: #445588; font-weight: bold; }
.markdown-code-na { color: #008080; }
.markdown-code-nb { color: #0086b3; }
.markdown-code-bp { color: #999999; }
.markdown-code-nc { color: #445588; font-weight: bold; }
.markdown-code-no { color: #008080; }
.markdown-code-nd { color: #3c5d5d; font-weight: bold; }
.markdown-code-ni { color: #800080; }
.markdown-code-ne { color: #990000; font-weight: bold; }
.markdown-code-nf { color: #990000; font-weight: bold }
.markdown-code-nl { color: #990000; font-weight: bold; }
.markdown-code-nn { color: #555555; }
.markdown-code-nt { color: #000080; }
.markdown-code-nv { color: #008080; }
.markdown-code-vc { color: #008080; }
.markdown-code-vg { color: #008080; }
.markdown-code-vi { color: #008080; }
.markdown-code-s { color: #dd1144; }
.markdown-code-sa { color: #dd1144; }
.markdown-code-sb { color: #dd1144; }
.markdown-code-sc { color: #dd1144; }
.markdown-code-dl { color: #dd1144; }
.markdown-code-sd { color: #dd1144; }
.markdown-code-s2 { color: #dd1144; }
.markdown-code-se { color: #dd1144; }
.markdown-code-sh { color: #dd1144; }
.markdown-code-si { color: #dd1144; }
.markdown-code-sx { color: #dd1144; }
.markdown-code-sr { color: #009926; }
.markdown-code-s1 { color: #dd1144; }
.markdown-code-ss { color: #990073; }
.markdown-code-m { color: #009999; }
.markdown-code-mb { color: #009999; }
.markdown-code-mf { color: #009999; }
.markdown-code-mh { color: #009999; }
.markdown-code-mi { color: #009999; }
.markdown-code-il { color: #009999; }
.markdown-code-mo { color: #009999; }
.markdown-code-o { color: #000000; font-weight: bold; }
.markdown-code-ow { color: #000000; font-weight: bold; }
.markdown-code-c { color: #999988; font-style: italic; }
.markdown-code-ch { color: #999988; font-style: italic; }
.markdown-code-cm { color: #999988; font-style: italic; }
.markdown-code-c1 { color: #999988; font-style: italic; }
.markdown-code-cs { color: #999999; font-weight: bold; font-style: italic; }
.markdown-code-cp { color: #999999; font-weight: bold; font-style: italic; }
.markdown-code-cpf { color: #999999; font-weight: bold; font-style: italic; }
.markdown-code-gd { color: #000000; background-color: #ffdddd; }
.markdown-code-ge { color: #000000; font-style: italic; }
.markdown-code-gr { color: #aa0000; }
.markdown-code-gh { color: #999999; }
.markdown-code-gi { color: #000000; background-color: #ddffdd; }
.markdown-code-go { color: #888888; }
.markdown-code-gp { color: #555555; }
.markdown-code-gs { font-weight: bold; }
.markdown-code-gu { color: #aaaaaa; }
.markdown-code-gt { color: #aa0000; }
.markdown-code-gl { text-decoration: underline; }
.markdown-code-w { color: #bbbbbb; }
