{{ template "base" . }}
{{ template "header" }}

<section class="container-body">
	<h2 class="font-serif text-2xl font-extrabold text-gray-900 sm:text-4xl">Blog</h2>
	<div class="mt-3 sm:mt-4 mb-6 lg:items-center">
		<p class="text-sm md:text-md text-gray-900 md:w-3/4">
			Une combinaison d'articles, de guides et de news autour de sujets techniques, cyber et autres. Retrouvez régulièrement nos articles sur cette page, par mails ou en suivant notre flux RSS.
		</p>
		<div class="border-b my-6"></div>
		<div class="text-sm flex flex-col md:flex-row">
			<a href={{ link "#" }} class="{{ if .Posts }}mt-4{{ end }} md:mt-0 hover:underline flex flex-row items-center space-x-2">
				<svg class="stroke-current text-gray-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width=2 d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-2m-4-1v8m0 0l3-3m-3 3L9 8m-5 5h2.586a1 1 0 01.707.293l2.414 2.414a1 1 0 00.707.293h3.172a1 1 0 00.707-.293l2.414-2.414a1 1 0 01.707-.293H20" />
				</svg>
				<span>S'abonner à la newsletter</span>
			</a>
			<a href={{ link "#" }} class="mt-4 md:mt-0 md:ml-6 hover:underline flex flex-row items-center space-x-2">
				<svg class="stroke-current text-yellow-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width=2 d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
				</svg>
				<span>Flux RSS</span>
			</a>
			{{ if .Posts }}
				<div class="order-first w-full md:order-last md:w-auto md:ml-auto flex flex-col md:flex-row">
					<label for="searchbar" class="sr-only">Recherche</label>
					<div class="relative rounded-md shadow-sm">
						<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
							<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
							</svg>
						</div>
						<input type="text" id="searchbar" style="min-width: 300px;" class="focus:ring-0 focus:border-gray-300 focus:shadow-md block w-full pl-10 sm:text-sm border-gray-300 rounded-md" placeholder="Cherchez quelque chose...">
					</div>
					<a href={{ link "#" }} class="md:ml-6 mt-4 md:mt-0 hover:underline flex flex-row items-center space-x-2 md:space-x-0">
						<svg class="md:hidden stroke-current text-gray-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">	
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
						</svg>
						<span>Tous les articles</span>
					</a>
				</div>
			{{ end }}
		</div>
	</div>

	{{ if .Posts }}
		{{ template "posts_1lg_2sm" .Posts }}
	{{ else }}
		<div class="mx-auto max-w-md mt-10 md:mt-16">
			<img class="mb-8 mx-auto w-40" src="{{ link "static/images/no_posts.svg" }}" alt="No post found">
			<h4 class="mb-2 text-center font-semibold text-gray-500">Il n'y aucun article pour le moment !</h4>
			<p class="text-center text-gray-400">Essayez de revenir plus tard...</p>
		</div>
	{{ end }}
</section>

{{ if gt (len .Posts) 3 }}
	<div class="hidden md:block container-body border-t p-0"></div>

	<section class="container-body">
		<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
			{{ range $i, $post := slice .Posts 3 }}
				{{ template "post_summary_image" dict "Post" $post }}
			{{ end }}
		</div>
	</section>
{{ end }}

{{ template "footer" }}

</body>
</html>
