{{ template "base" . }}
{{ template "header" }}

<section class="container-body py-12 text-center">
    <h1 class="mb-8 text-9xl text-gray-500 font-bold">
        {{ index . "code" }}
    </h1>
    <h3 class="mb-4 text-xl text-gray-900 font-semibold">
        {{ index . "title" }}
    </h3>
    <p class="mb-8 text-sm text-gray-400">
        {{ index . "message" }}
    </p>
    <div class="flex flex-row justify-center space-x-3">
        <a onclick="window.history.back()" class="cursor-pointer text-blue-600 hover:text-blue-700 hover:underline">Page précédente</a>
        <span class="text-gray-400">-</span>
        <a href={{ link "/" }} class="text-blue-600 hover:text-blue-700 hover:underline">Retourner à l'accueil</a>
    </div>
</section>
