{{ template "base" . }}
{{ template "header" }}

{{ if .Banner.Type }}
	<section class="mx-auto md:max-w-2xl">
		{{ template "banner" .Banner }}
	</section>
{{ end }}

<section class="mx-auto max-w-md p-6 lg:p-8">
	<form class="space-y-6" action="/login" method="POST">
		<div>
			<label for="username" class="block text-sm font-semibold text-gray-700">
				Nom d'utilisateur
			</label>
			<div class="mt-1">
				<input id="username" name="username" type="text" autocomplete="username" placeholder="root" required {{ with .Username }}value="{{ . }}"{{ end }} class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm">
			</div>
		</div>

		<div>
			<label for="password" class="block text-sm font-semibold text-gray-700">
				Mot de passe
			</label>
			<div class="mt-1">
				<input id="password" name="password" type="password" autocomplete="current-password" placeholder="root" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm">
			</div>
		</div>

		{{ with .Error }}
			<div class="flex flex-row items-center text-sm space-x-2 text-red-600">
				<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
				</svg>
				<div>
					{{ . }}
				</div>
			</div>
		{{ end }}

		<div>
			<button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-semibold text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
				Se connecter
			</button>
		</div>
	</form>
</section>

</body>
</html>
