{{ template "base" . }}
{{ template "header" }}

<section class="container-body">

    <a href={{ link "/" }} onclick="window.history.back()" class="mb-4 md:mt-0 hover:underline pointer-cursor flex flex-row items-center space-x-2">
        <svg class="stroke-current text-gray-600 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
        <span>Retour</span>
    </a>

    <div class="grid gap-y-4 gap-x-8 grid-cols-1 md:grid-cols-2">
        <div class="flex flex-col">
            <p class="px-1 my-2 text-xs text-gray-500 uppercase">
                <time datetime="2020-03-16">{{ strftime .CreatedAt }}</time>
            </p>
            <a href={{ link "posts" .ID }}>
                <p class="text-xl md:text-3xl font-serif font-semibold text-gray-900 hover:underline">
                    {{ .Title }}
                </p>
            </a>
            <p class="my-4 text-sm text-gray-900" style="line-height: 1.3rem;">
                {{ .Abstract }}
            </p>
            <div class="my-2 flex flex-row items-center">
                <img class="rounded-full h-8 w-8" src="{{ with .Author.Avatar }}{{ . }}{{ else }}{{ link .Author.DefaultAvatar }}{{ end }}" alt="{{ .Author.FullName }}" srcset="">
                <div class="ml-4 flex flex-col">
                    <a class="block text-sm font-semibold text-blue-500 hover:text-blue-700" href={{ link "/author" }}>
                        {{ .Author.FullName }}
                    </a>
                    <span class="text-xs text-gray-400">{{ .Author.Meta }}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <img class="cursor-pointer rounded-lg shadow transition-shadow hover:shadow-md" src="{{ with .Cover }}{{ . }}{{ else }}https://149351115.v2.pressablecdn.com/wp-content/uploads/2020/11/blog-the-macro-problem-with-micro-services.png{{ end }}" alt="{{ with .CoverAlt }}{{.}}{{ else }}Image par défaut{{ end }}">
            {{ with .CoverCredits }}<span class="ml-2 mt-2 text-gray-400 text-xs italic">{{ . }}</span>{{ end }}
        </div>
    </div>
</section>

<section class="md:mx-auto md:max-w-3xl p-4 lg:p-8">
    <div class="markdown-body">
        {{ .Content }}
    </div>
    
    </div>
</section>

{{ template "footer" }}

</body>
</html>
