{{ define "post_summary_image" }}

{{ $post := index . "Post" }}
{{ $class := index . "class"}}
{{ $readMore := index . "readMore" }}

{{ with $post }}
    <div class="flex flex-col {{ with $class }} {{ $class }} {{ end }}">
        <a href={{ link "posts" .ID }} class="block mb-2">
            <img class="rounded-lg shadow transition-shadow hover:shadow-md" src="https://149351115.v2.pressablecdn.com/wp-content/uploads/2020/09/The-Loop-series-1200x630.png" alt="Image overflow" />
        </a>
        <p class="px-1 my-2 text-xs text-gray-500 uppercase">
            <time datetime="2020-03-16">{{ strftime .CreatedAt }}</time>
        </p>
        <a href={{ link "posts" .ID }} class="block mb-2">
            <p class="text-2xl font-serif font-semibold text-gray-900 hover:underline">
                {{ .Title }}
            </p>
        </a>
        <p class="mb-4 text-sm text-gray-900" style="line-height: 1.3rem;">
            {{ .Abstract }}
        </p>
        <div class="mt-auto flex flex-row items-center">
            <img class="rounded-full h-8 w-8" src="{{ with .Author.Avatar }}{{ . }}{{ else }}{{ link .Author.DefaultAvatar }}{{ end }}" alt="{{ .Author.FullName }}">
            <div class="ml-4 flex flex-col">
                <a class="block text-sm font-semibold text-blue-500 hover:text-blue-700" href={{ link "/author" }}>
                    {{ .Author.FullName }}
                </a>
                <span class="text-xs text-gray-400">{{ .Author.Meta }}</span>
            </div>
        </div>
    </div>
{{ end }}

{{ end }}
