{{ define "base" }}<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ with .Title }}{{ . }}{{ else }}{{ index . "title" }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href={{ asset "images/favicon.png" }} />

    <!-- <link rel="stylesheet" href="https://rsms.me/inter/inter.css"> --> <!-- Switched to Segoe UI -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href={{ asset "css/core.css" }}>
</head>

<body>
{{ end }}
