{{ define "footer" }}
	<footer class="container-body mt-16 lg:mt-20 xl:mt-24">
		<div class="xl:grid xl:grid-cols-3 xl:gap-8">
			<div class="space-y-6 xl:col-span-1">
				<a href={{ link "/" }}>
					<img class="h-5" src={{ asset "images/devlab_inline.svg" }} alt="Devlab">
				</a>
				<p class="text-gray-500">
					Un site de tout, mais surtout de rien.
				</p>
				<div class="hidden space-x-6">
					<a href="https://twitter.com/TheophileDano" class="text-gray-400 hover:text-gray-500">
						<span class="sr-only">Twitter</span>
						<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
							<path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
						</svg>
					</a>
					<a href="https://github.com/Spriithy" class="text-gray-400 hover:text-gray-500">
						<span class="sr-only">GitHub</span>
						<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
							<path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
						</svg>
					</a>
					<a href="https://gitlab.com/Spriithy" class="text-gray-400 hover:text-gray-500">
						<span class="sr-only">GitLab</span>
						<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 100 100" aria-hidden="true">
							<path fill-rule="evenodd" d="M99.705,55.563l-5.325,-16.399c0.002,0.007 0.003,0.015 0.005,0.022c-0.002,-0.009 -0.004,-0.017 -0.006,-0.025c-0.001,-0.001 -0.001,-0.002 -0.001,-0.002l0,-0l-10.57,-32.543c-0.578,-1.715 -2.169,-2.865 -3.993,-2.851c-1.83,0.009 -3.377,1.137 -3.943,2.876l-10.033,30.889l-31.659,-0l-10.053,-30.892c-0.564,-1.736 -2.112,-2.864 -3.942,-2.874l-0.022,0c-1.8,0 -3.395,1.144 -3.979,2.877l-10.542,32.514l-0.001,0.004l-0,0.001c-0.003,0.009 -0.004,0.017 -0.007,0.025c0.003,-0.008 0.003,-0.015 0.006,-0.022l-5.345,16.4c-0.804,2.475 0.069,5.166 2.172,6.696l46.145,33.528c0.007,0.004 0.015,0.008 0.021,0.012c0.02,0.015 0.039,0.029 0.059,0.042c-0.019,-0.012 -0.037,-0.026 -0.055,-0.039c0.003,0.002 0.006,0.003 0.009,0.006c0.003,0.001 0.006,0.002 0.009,0.005l0,0c0.072,0.05 0.146,0.095 0.223,0.137c0.01,0.005 0.02,0.013 0.031,0.019l0,-0c0.007,0.003 0.012,0.008 0.019,0.011c0.005,0.002 0.01,0.004 0.015,0.006c0.004,0.002 0.007,0.002 0.011,0.004c0.009,0.005 0.018,0.007 0.026,0.012c0.04,0.018 0.082,0.034 0.124,0.051c0.039,0.016 0.076,0.034 0.116,0.049c0.001,-0 0.003,0.001 0.005,0.001c0.006,0.002 0.012,0.006 0.019,0.009c0.008,0.002 0.016,0.006 0.024,0.008c0.004,0.001 0.007,0.002 0.01,0.003c0.01,0.003 0.022,0.004 0.032,0.007c0.004,0.001 0.008,0.002 0.013,0.004c0.055,0.016 0.112,0.028 0.169,0.041c0.023,0.005 0.045,0.012 0.067,0.016c0.003,0 0.007,0.002 0.01,0.003c0.008,0.001 0.014,0.004 0.022,0.004c0.012,0.003 0.024,0.007 0.036,0.008c0.01,0.002 0.02,0.001 0.029,0.003c0.003,0 0.004,-0 0.006,0l0.001,0c0.109,0.016 0.219,0.027 0.332,0.027l0.003,-0c0.113,-0 0.224,-0.011 0.332,-0.027l0.002,0c0.002,-0 0.003,0 0.005,-0c0.01,-0.002 0.02,-0.001 0.03,-0.003c0.013,-0.001 0.024,-0.005 0.037,-0.008c0.007,-0 0.014,-0.003 0.021,-0.004c0.003,-0.001 0.006,-0.003 0.009,-0.003c0.024,-0.004 0.046,-0.011 0.068,-0.017c0.057,-0.012 0.114,-0.024 0.169,-0.04c0.004,-0.002 0.008,-0.002 0.011,-0.004c0.011,-0.003 0.023,-0.004 0.034,-0.007c0.003,-0.001 0.006,-0.002 0.01,-0.003c0.008,-0.002 0.016,-0.006 0.025,-0.008c0.006,-0.003 0.012,-0.007 0.019,-0.009c0.001,0 0.003,-0.001 0.004,-0.001c0.042,-0.015 0.081,-0.035 0.123,-0.052c0.038,-0.016 0.077,-0.03 0.114,-0.048c0.009,-0.004 0.019,-0.007 0.028,-0.011c0.003,-0.002 0.007,-0.003 0.011,-0.005c0.005,-0.002 0.01,-0.003 0.016,-0.006c0.006,-0.003 0.013,-0.008 0.019,-0.011c0.011,-0.006 0.021,-0.014 0.032,-0.02c0.076,-0.041 0.149,-0.087 0.22,-0.136c0.007,-0.004 0.013,-0.007 0.019,-0.011c0.001,-0 0.003,-0.001 0.005,-0.003c0.006,-0.004 0.014,-0.008 0.021,-0.013l46.152,-33.528c2.102,-1.529 2.975,-4.22 2.171,-6.696Zm-19.861,-45.898l9.051,27.866l-18.102,-0l9.051,-27.866Zm7.466,32.578l-3.694,4.732l-27.239,34.903l12.885,-39.635l18.048,0Zm-39.554,52.367c0.003,0.007 0.007,0.013 0.009,0.021c-0.002,-0.008 -0.006,-0.014 -0.009,-0.021Zm-4.132,-12.73l-30.916,-39.637l18.048,0l12.868,39.637Zm-23.467,-72.215l9.068,27.866l-18.102,-0l9.034,-27.866Zm-14.919,48.784c-0.447,-0.326 -0.633,-0.9 -0.461,-1.428l3.972,-12.191l29.11,37.319l-32.621,-23.7Zm43.292,37.276c-0.008,-0.007 -0.017,-0.015 -0.026,-0.022c-0.002,-0.002 -0.003,-0.004 -0.006,-0.006c-0.018,-0.015 -0.035,-0.03 -0.052,-0.045c-0.033,-0.029 -0.066,-0.059 -0.098,-0.09c0.003,0.002 0.005,0.005 0.008,0.007c0.003,0.003 0.007,0.005 0.011,0.009c0.067,0.064 0.138,0.125 0.213,0.182c0.001,-0 0.001,0 0.003,0.001c0.003,0.003 0.006,0.006 0.009,0.01c-0.02,-0.015 -0.041,-0.029 -0.062,-0.046Zm1.468,-9.469l-7.571,-23.323l-6.716,-20.69l28.596,0l-14.309,44.013Zm1.55,9.396c-0.018,0.015 -0.035,0.031 -0.053,0.046c-0.002,0.001 -0.004,0.004 -0.006,0.005c-0.009,0.007 -0.017,0.015 -0.026,0.023c-0.02,0.016 -0.041,0.03 -0.061,0.045c0.003,-0.003 0.006,-0.007 0.01,-0.009c0.001,-0 0.001,-0.001 0.002,-0.002c0.074,-0.056 0.145,-0.116 0.212,-0.18c0.002,-0.003 0.006,-0.005 0.008,-0.007c0.004,-0.004 0.007,-0.006 0.011,-0.009c-0.031,0.03 -0.064,0.059 -0.097,0.088Zm43.215,-37.204l-32.615,23.694l29.118,-37.31l3.957,12.187c0.172,0.53 -0.013,1.104 -0.46,1.429Z" clip-rule="evenodd"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-8 border-t border-gray-200 pt-6">
			<p class="text-sm text-gray-400 text-center">
				Fait avec <span class="text-red-600">❤</span> par <a href="https://gitlab.com/Spriithy">Spriithy</a>
			</p>
		</div>
	</footer>
{{ end }}
