{{ define "header" }}
    <header class="container-body pt-0 lg:pt-0 py-6 mt-4">
        <div class="flex flex-row items-center justify-between">
            <a href={{ link "/" }} class="block">
                <img class="h-5" src={{ asset "images/devlab_inline.svg" }} alt="Logo devlab">
            </a>
            <div class="flex font-semibold space-x-5">
                <a href={{ link "/" }} style="line-height: 40px" class="h-full text-gray-700 hover:text-gray-900">Accueil</a>
                <a href={{ link "/"}} style="line-height: 40px" class="h-full text-gray-700 hover:text-gray-900">Blog</a>
            </div>
        </div>
    </header>
{{ end }}
